.home-page {
  h1 {
    color: #fff;
    font-size: 56px;
    line-height: 53px;
    margin: 0;
    font-family: 'Coolvetica';
    font-weight: 400;
    line-height: 1.5;

    &:before {
      content: '<h1>';
      font-family: 'La Belle Aurore', cursive;
      color: #ffd700;
      font-size: 18px;
      position: absolute;
      margin-top: -40px;
      left: -15px;
      opacity: 0.6;
    }

    &:after {
      content: '<h1/>';
      font-family: 'La Belle Aurore', cursive;
      color: #ffd700;
      font-size: 18px;
      position: absolute;
      margin-top: 30px;
      margin-left: 20px;
      animation: fadeIn 1s 1.7s backwards;
      opacity: 0.6;
    }
    img {
      margin-left: 20px;
      opacity: 0;
      width: 32px;
      height: auto;
      animation: rotateIn 1s linear both;
      animation-delay: 1.4s;
    }
  }

  .text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;
  }

  .flat-button {
    color: #ffd700;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #ffd700;
    margin-top: 25px;
    float: left;
    animation: fadeInAnimation 1s 1.8s backwards;
    white-space: nowrap;

    &:hover {
      background: #ffd700;
      color: #333;
    }
  }
  .flat-button + .flat-button {
    margin-left: 10px; /* Adds space between adjacent flat-buttons */
  }
}

/* Mobile styles */
@media screen and (max-width: 768px) {
  .home-page {
    h1 {
      font-size: 36px;
      line-height: 40px;

      &:before {
        font-size: 14px;
        margin-top: -30px;
        left: -10px;
      }

      &:after {
        font-size: 14px;
        margin-top: 15px;
        margin-left: 10px;
      }

      img {
        width: 22px;
      }
    }

    .text-zone {
      position: relative;
      left: 5px;
      top: 10px;
      transform: none;
      width: 90%;
      max-height: none;
      margin: 20px auto;
      padding: 10px;
      z-index: 3;
    }

    .flat-button {
      font-size: 11px;
      padding: 8px 12px;
      margin-top: 15px;
      display: inline-block;
      float: none;
      position: relative;
      top: 20%;
      z-index: 3000;
    }

    .flat-button + .flat-button {
      margin-left: 5px;
    }
    .flat-button:nth-child(3) {
      display: none; /* Hide the second flat-button on mobile */
    }
  }
}
